canvas{
 height: 550px;
 witdh:650px;
}
body{
background-color:rgb(233,234,237) ;
font-family:Arial, Helvetica, sans-serif;
}
#container{
height: 90%;
width:800px;
position:absolute;
left:50%;
margin-left:-400px;
background-color: white;
border: 1px solid;
	border-color: rgb(193,194,197);
	box-shadow: 4px 4px 4px #888888;
	text-align:center;
	padding-top:20px;
}
h2{
font-size:18px;
}
h3{
font-size:14px;
}
h4{
font-size:14px;
font-weight: normal;
font-style: italic;

}
.checkbox{
	 -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  position:absolute;
  left:10px;
  top: 40px;
}
#checkbox2{
top:110px;
}
.textbox{
float:right;

margin-right:100px;
}
label{
	margin-left:100px;
}
.step{
padding-top:5px;
position:relative;
width:600px;
left:100px;
}
.finished{
background-color:rgb(178, 255, 178);

}
.working{
background-color:rgb(255, 255, 153);

}
.unfinished{
background-color:rgb(255, 214, 214);

}
.separator{
	height:4px;
	width:600px;
	background-color:rgb(233,234,237);
	margin-left:100px;
}
.content{
	position: relative;
	margin-left:300px;
	margin-top: 40px;
}
.myButton{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin-bottom:15px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
